

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,400;1,900&display=swap');

*{
  box-sizing: border-box; 
  font-family: Raleway;
  
}
.html{
   background-color:white;

}
.nav ul {
 margin: 0;   
}
.nav li {
   display: inline;
}
.nav a{
display: inline-block;
color: red;
padding: .5em;
text-decoration: none;
}
.nav {
  text-align: center;
  font-size: 1.1em;
font-weight:lighter;
 border-bottom: 1px solid rgba(255,255,255,.3)
 }
.nav li{
 padding: 0 5%;
}

.nav a:hover {
 background-color:rgba(255,255,255,.3)
}
.h3 {
color: #777;
}

.main-header{
 
 background-image: url("/home/saketh/Downloads/"b1.jpeg"")     
}

.main-header{
 padding-bottom: 30px;
}

.main-header{
 background-size: cover;
}

.main-header{
background-color: rgba(0,128,128,.4);
}

.main-header{
background-blend-mode: multiply;
}
.section{
background-color: yellow;
}
.footer{
background-color: orange;
padding: 0;
margin: 0;
}
.band-name{
 text-align: center;
 margin: 0;
 font-size: 4em;
}
.html, body{
margin: 0;
padding: 0;      
}                 

